# Cache
*.pyc
__pycache__

# Build
build/*
dist/*
*.egg-info/*
*.egg-info
*.whl

# Build - Docs
documentation/build/*
documentation/source/_autosummary

# Logs
*.log

# Packaging
packaging/**/pkg
packaging/**/src
packaging/**/*.tar*
packaging/**/python-pysetting-git/python-pysetting
packaging/**/python-pysetting/python-pysetting*
packaing/debian/**/python3-pysetting_*

# VSCode
.vscode
