[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Package dependencies for the library are already handled by setuptools
# This file is for dev dependencies for documentation generation

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
setuptools = "*"
build = "*"
fenix-library-running = {editable = true, git = "https://gitlab.com/rebornos-team/fenix/libraries/running.git"}
fenix-library-configuration = {editable = true, git = "https://gitlab.com/rebornos-team/fenix/libraries/configuration.git"}

[requires]
python_version = "3.9"
