[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Package dependencies for the library are already handled by setuptools
# This file is for dev dependencies for documentation generation

[dev-packages]
# For documentation of imports
# For documentation tools
fenix-library-running = {git = "https://gitlab.com/rebornos-team/fenix/libraries/running.git"}
fenix-library-configuration = {git = "https://gitlab.com/rebornos-team/fenix/libraries/configuration.git"}
fenix-library-analyzing = {git = "https://gitlab.com/rebornos-team/fenix/libraries/analyzing.git"}
fenix-library-installing = {git = "https://gitlab.com/rebornos-team/fenix/libraries/installing.git"}
psutil = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"

[requires]
python_version = "3.9"
