[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
fenix-library-running = {git = "https://gitlab.com/rebornos-team/fenix/libraries/running.git"}
fenix-library-configuration = {git = "https://gitlab.com/rebornos-team/fenix/libraries/configuration.git"}
psutil = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-automodapi = "*"

[requires]
python_version = "3.9"
